/* - - - general - - - */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  font-family: 'Indie Flower';
  background-color: #333;
  min-height: 100vh;
}

img {
  width: 110px;
  height: 110px;
}

/* - - - game area - - - */

.game-container {
  position: relative;
  background-color: rgb(187, 137, 114);
  min-height: 85vh;
  padding: 80px;
  cursor: url('./pics/knife.png'), auto;
  border-radius: 5px;
}

.game-container .bg-img {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 260px;
  height: 260px;
  object-fit: contain;
  opacity: 0.2;
}

.game-container h1 {
  font-size: 60px;
}

.game-container .scores {
  margin-left: 50px;
}

.game-container .game-score {
  font-size: 30px;
}

.game-container .high-score {
  font-size: 16px;
}

.title-container {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#high-score {
  padding-top: 16px;
  font-size: 24px;
}

/* - - - cirecles - - - */

.circle-container {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 20px;
}

.circle {
  width: 140px;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.circle:hover {
  opacity: 0.9;
  box-shadow: 0 0 40px white;
}

/* - - - mushrooms - - - */

.mushroom-img {
  transition: transform 0.3s;
}

.mushroom-img:hover {
  transform: scale(1.3);
}

/* - - - buttons - - - */

.button-container {
  display: flex;
  justify-content: center;
}

button {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  margin-top: 75px;
  border: none;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: color 1s, background-color 0.15s;
}

button:hover {
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
}

/* - - - footer - - - */

small {
  color: white;
}

/* - - - overlays - - - */

#overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.game-results-screen {
  background-color: rgba(187, 137, 114, 0.8);
  position: relative;
  color: white;
  font-size: 30px;
  position: fixed;
  top: 150px;
  left: 200px;
  right: 200px;
  padding: 30px;
}

#close-overlay {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 50px;
}

.hide {
  display: none;
}
